<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eclipse-derivedfilter/__conf/__eclipse-derivedfilter-export.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk-7u79-windows-x64"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eclipse-derivedfilter"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="basearch" value="x86_64"/>
<mapEntry key="basenl" value="es_ES"/>
<mapEntry key="baseos" value="win32"/>
<mapEntry key="basews" value="win32"/>
<mapEntry key="bootclasspath" value="C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\resources.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\rt.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\jsse.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\jce.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\charsets.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\jfr.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\ext\access-bridge-64.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\ext\dnsns.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\ext\jaccess.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\ext\localedata.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\ext\sunec.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\ext\sunjce_provider.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\ext\sunmscapi.jar;C:\__work\cyii\bin\jdk-7u79-windows-x64\jre\lib\ext\zipfs.jar"/>
<mapEntry key="eclipse.running" value="true"/>
<mapEntry key="javacDebugInfo" value="on"/>
<mapEntry key="javacFailOnError" value="false"/>
<mapEntry key="javacSource" value="1.7"/>
<mapEntry key="javacTarget" value="1.7"/>
<mapEntry key="javacVerbose" value="false"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/eclipse-derivedfilter/__conf/__eclipse-derivedfilter-export.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
